@import 'index.css';
@import 'projects.css';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 600;
}

body{
    background-color: black;
}

#app{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}


#app-page-2{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


